#root{
    max-width: 100%;
    max-height: 100%;
}
.App{
    display: flex;
    align-items: center;
    flex-direction: column;
}
// all cart container

// header part
.game-name{
    display: flex;
    border-bottom: 2px solid black;
    display: flex;
    font-size: 2rem;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.btn-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.btn-nb{
    margin: 1rem;
}
// ============================
.button-player{
    margin: 0 1rem;
}