body{
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(207, 207, 207);
}
.App{
    display: flex;
    align-items: center;
    flex-direction: column;
}
// all cart container

// header part
.game-name{
    font-family: 'Poppins', sans-serif;
    font-family: 'Shizuru', cursive;
    display: flex;
    border-bottom: 2px solid black;
    display: flex;
    font-size: 2rem;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.btn-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.btn-nb{
    margin: 1rem;
}

// ============================
.button-player{
    margin: 0 1rem;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: rgba(109, 56, 233, 0.295);
}