
.total{
background-color: #f0f;
}
.player-input{
    color: black;
    font-size: 24px;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    border: none;
    height: 94%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.player-card-score{
    border: none;
    width: 100%;
    height: 3rem;
    min-width: max-content;
    
}


// main part 
.player-card{
    margin: 0.3rem;
    display: flex;
    min-width: 6rem;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column-reverse;
    &-name{
    font-size: 2rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    }
    &-score{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    }
    &-total{
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    }
}
.card{
    
    background-color: rgba(197, 197, 197, 0.459);
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}
.player-card-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: scroll;
    min-width: 7rem;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
&::-webkit-scrollbar {
  height: 0.5rem;
}
&::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182); 
  border-radius: 0.5rem;
}
&::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 144, 144); 
}
}